@import "tailwindcss";

/* css for standings */
.standings-table {
  font-family: 'Inter', sans-serif;
  text-align: center; 
  border: 4px solid #FFE99A;
  background: white;  
  color: black;
}

.standings-table th, .standings-table td {
  padding: 8px 12px;         
  /* provides inner-padding for the names */
  border: 1px solid #FFE99A;
}

.standings-table th {
  color: black;
  /* color of the elements inside table */
}

.rank-1 { background-color: #2e7d32; }
.rank-2 { background-color: #388e3c; }
.rank-3 { background-color: #43a047; }
.rank-4 { background-color: #66bb6a;}
.rank-5 { background-color: #a5d6a7;}
.rank-6 { background-color: #e0e0e0;}
.rank-7, .rank-8, .rank-9, .rank-10 { background-color: 	#e0e0e0; }
.rank-11, .rank-12 { background-color: #f8bdbd; }
.rank-13, .rank-14 { background-color: 	#e53935; }
.rank-15, .rank-16 { background-color:#c62828; }


/* css for score */
.record-table {
  background-color: #BFC0C0;
  font-family: 'Inter' ,sans-serif;
  text-align: center;
}

.record-table th,
.record-table td {
  /* css of inner elements of table */
  border: 2px solid black;
  padding: 12px;
  color: #1E2A38;
  font-family: 'Inter', sans-serif;
}

.record-table .title {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: #BFC0C0;
}


/* css for Roster */
.pokemon-table {
  text-align: center;
}

.pokemon-table td {
  padding: 10px;
  vertical-align: top;
}

.pokemon-table img {
  width: 40px;
  height: 40px;
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pokemon-table .name {
  margin-top: 5px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

.first-five{
  display: block;
}

.second-five{
  display: block;
}
/* css for playerScedhule */

.schedule-table { 
  font-family: 'Inter', sans-serif;
  background-color: #BFC0C0;
  color: #1E2A38;
  border: 2px solid black;
}

.schedule-table th,
.schedule-table td {
	border: 2px solid black;
	padding: 12px;
	color: #1E2A38;
	font-family: 'Inter', sans-serif;
}

.schedule-table th {
  background-color: #BFC0C0;
  color: #1E2A38;
  font-size: 16px;
}

.table-title {
  font-size: 22px;
  font-weight: 700;
  color:#1E2A38;
}

/* styles for dashboard  */

.container-dashboard{
  background-color: #BFC0C0;
  height: auto;
  border: black solid 5px;
  margin: 0px 25%;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
}

.container-dashboard > h1{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  color: #1e2a38;
  font-size: 3rem;
  margin-top: 2rem;
}


.container-dashboard > span{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #1e2a38;
  font-size: 2rem;
  margin-top: 0;
  letter-spacing: -1px;
}

.container-dashboard > a{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #1e2a38;
  font-size: 1rem;
  margin-top: 0;
  margin-left: 5px;
  text-decoration: underline;
}

/* styles for toggle animation of leagues */

.viewLeagueButton {
  width: 10em;
  font-family:'Inter', sans-serif;
  margin-top: 1em;
}

.showLeagueButton {
  background-color: #1E2A38;
  color: white;
  padding: 10px 20px; 
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.dropdown-content { 
  height: auto;
  width: auto;
  opacity: 0;
  transition: all 0.4s ease;
  background-color: #1E2A38;
  margin-top: 10px;
  padding: 0 20px;
  border: 1px solid #ccc;
}

.dropdown-content.show {
  background-color: #1E2A38;
  min-width: 850px;
  min-height: fit-content;
  opacity: 1;
  padding: 15px 20px;
}

.dropdown-content > h1{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #BFC0C0;
  font-size: 2rem;
  margin-top: 0;
  letter-spacing: -1px;
}

